@import '../../../mixins';

.Location__Hero {
	background-image: url('../../../assets/img/Barbecue-dish.jpg');
	background-size: cover;
	background-position: center center;
	position: relative;
	overflow: hidden;
	height: 70vh;

	&::before {
		content: '';
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		background-color: rgba(0, 0, 0, 0.6);
	}
}

.Location__Hero__content {
	position: relative;
	font-family: 'Abril Fatface', sans-serif;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;

	p {
		color: var(--secondary-300);
		font-size: 1.5rem;
	}

	h1 {
		color: white;
		font-size: 3rem;
	}
}
