@import '../../../mixins';

.Form {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 20px;
	padding: 35px;
}

.Form__disclaimer {
	background-color: var(--secondary-600);
	color: white;
	text-align: justify;
	padding: 30px;
	height: fit-content;
	border-radius: 10px;

	@include desktop {
		width: 50%;
		margin: 0 auto;
	}

	li:not(:last-child) {
		margin-bottom: 20px;
	}
}
