.Review {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0px; }
  @media only screen and (min-width: 768px) {
    .Review {
      margin: 0; } }
  .Review__review {
    font-size: 1.1rem; }

.Review__user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px; }
  @media only screen and (min-width: 992px) {
    .Review__user-info {
      flex-direction: row; } }
  .Review__user-info img {
    width: 80px;
    height: 80px; }
  .Review__user-info p {
    font-size: 0.8rem; }
