.Hero {
  position: relative;
  height: calc(100vh - 130px);
  overflow: hidden; }
  @media only screen and (min-width: 768px) {
    .Hero {
      height: calc(80vh - 130px); } }
  @media only screen and (min-width: 992px) {
    .Hero {
      height: calc(100vh - 130px); } }

.Hero__video-background {
  user-select: none; }
  @media only screen and (min-width: 992px) {
    .Hero__video-background {
      width: 100%; } }

.Hero__content {
  position: absolute;
  background-color: #0000004d;
  border-radius: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50%;
  width: 70%; }
  @media only screen and (min-width: 768px) {
    .Hero__content {
      height: 70%;
      width: unset;
      padding: 0px 15px; } }
  @media only screen and (min-width: 992px) {
    .Hero__content {
      height: 80%;
      padding: 40px; } }

.Hero__content__decoration {
  width: 80%;
  margin-bottom: 20px; }
  @media only screen and (min-width: 768px) {
    .Hero__content__decoration {
      width: 50%;
      margin-bottom: 20px; } }

.Hero__content__title1 {
  font-family: 'Abril Fatface', sans-serif;
  font-size: 2rem;
  color: var(--secondary-300);
  letter-spacing: 3px;
  margin-bottom: 20px; }
  @media only screen and (min-width: 768px) {
    .Hero__content__title1 {
      font-size: 2.5rem; } }
  @media only screen and (min-width: 1320px) {
    .Hero__content__title1 {
      font-size: 3.5rem;
      margin-bottom: 50px; } }

.Hero__content__title2 {
  color: white;
  font-family: 'Abril Fatface', sans-serif;
  font-size: 1.7rem;
  margin-bottom: 20px; }
  @media only screen and (min-width: 768px) {
    .Hero__content__title2 {
      font-size: 3rem; } }
  @media only screen and (min-width: 1320px) {
    .Hero__content__title2 {
      font-size: 4rem;
      margin-bottom: 50px; } }

.Hero__content__description {
  color: white;
  font-size: 0.8rem;
  margin-bottom: 20px; }
  @media only screen and (min-width: 768px) {
    .Hero__content__description {
      font-size: 1.2rem; } }
  @media only screen and (min-width: 1320px) {
    .Hero__content__description {
      font-size: 1.2rem;
      margin-bottom: 50px; } }

.Hero__content__buttons {
  display: flex;
  gap: 10px; }
