@import '../../mixins';

.Navbar {
	background-color: var(--bg-000);
	height: 130px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 30px;
	border-bottom: solid 2px var(--secondary-300);

	@include tablet {
		padding: 0px 70px;
	}

	@include desktop {
		padding: 0px 200px;
	}
}

.Navbar__logo {
	width: 120px;

	@include desktop {
		width: 170px;
	}
}

.Navbar__menu__icon {
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

	background-color: var(--secondary-300);
	border-radius: 3px;
	color: white;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;

	@include desktop {
		display: none;
	}
}

.Navbar__menu {
	display: none;

	@include desktop {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
	}
}

.Navbar__menu__item {
	width: 100px;
	transition: color 0.2s linear, font-size 0.2s linear;
	text-align: center;

	&.active {
		color: var(--secondary-300);
	}

	&:hover {
		color: var(--secondary-300);
		font-size: larger;
	}
}

.Navbar__menu__dropdown {
	background-color: var(--secondary-300);
	color: white;
	display: flex;
	flex-direction: column;
	text-align: center;

	height: 0;
	overflow: hidden;
	transition: height 0.3s ease-in-out;

	&.visible {
		height: 160px;
		border-bottom: 1px solid white;
	}

	.Navbar__menu__dropdown_item {
		padding: 10px 0px;

		&.active {
			color: var(--secondary-100);
		}

		&:hover {
			color: var(--secondary-100);
		}
	}

	.Navbar__menu__dropdown_item:not(:last-child) {
		border-bottom: solid 1px white;
	}

	@include desktop {
		display: none;
	}
}
