.Navbar {
  background-color: var(--bg-000);
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  border-bottom: solid 2px var(--secondary-300); }
  @media only screen and (min-width: 768px) {
    .Navbar {
      padding: 0px 70px; } }
  @media only screen and (min-width: 992px) {
    .Navbar {
      padding: 0px 200px; } }

.Navbar__logo {
  width: 120px; }
  @media only screen and (min-width: 992px) {
    .Navbar__logo {
      width: 170px; } }

.Navbar__menu__icon {
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: var(--secondary-300);
  border-radius: 3px;
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 992px) {
    .Navbar__menu__icon {
      display: none; } }

.Navbar__menu {
  display: none; }
  @media only screen and (min-width: 992px) {
    .Navbar__menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 25px; } }

.Navbar__menu__item {
  width: fit-content;
  transition: color 0.2s linear, scale 0.2s linear;
  text-align: center; }
  .Navbar__menu__item.active {
    color: var(--secondary-300); }
  .Navbar__menu__item:hover {
    color: var(--secondary-300);
    scale: 1.2; }

.Navbar__menu__dropdown {
  background-color: var(--secondary-300);
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out; }
  .Navbar__menu__dropdown.visible {
    height: 160px;
    border-bottom: 1px solid white; }
  .Navbar__menu__dropdown .Navbar__menu__dropdown_item {
    padding: 10px 0px; }
    .Navbar__menu__dropdown .Navbar__menu__dropdown_item.active {
      color: var(--secondary-100); }
    .Navbar__menu__dropdown .Navbar__menu__dropdown_item:hover {
      color: var(--secondary-100); }
  .Navbar__menu__dropdown .Navbar__menu__dropdown_item:not(:last-child) {
    border-bottom: solid 1px white; }
  @media only screen and (min-width: 992px) {
    .Navbar__menu__dropdown {
      display: none; } }
