@import '../../../mixins';

.up {
	border-bottom: 40px solid #fff;
	border-left: 30vw solid transparent;
	border-right: 30vw solid transparent;
	width: 0;
	height: 0;
	top: -40px;
	content: '';
	display: block;
	position: absolute;
	overflow: hidden;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 999;
}

.down {
	border-top: 40px solid #fff;
	border-left: 30vw solid transparent;
	border-right: 30vw solid transparent;
	width: 0;
	height: 0;
	top: 0;
	content: '';
	display: block;
	position: absolute;
	overflow: hidden;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 999;
}
