.coverPage {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 130px);
	background-image: url('../../assets/img/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.__coverPage-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: black;
	z-index: 1000;
	text-align: center;
	padding: 1em;
}

.__coverPage-content h3 {
	font-size: 1.6em;
	margin-bottom: 0.8em;
	text-transform: uppercase;
}

.__coverPage-content p {
	font-size: 0.95em;
	margin-bottom: 1.5em;
	line-height: 1.5;
	opacity: 0.7;
}

.socialMedia {
	margin-bottom: 25px;
}

.socialIcon {
	margin-right: 10px;
	opacity: 0.7;
}

.socialIcon i {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	border: 2px solid black;
	border-radius: 50%;
	padding: 15px;
	height: 25px;
	width: 25px;
	transition: all 0.3s;
}

.socialIcon i:hover {
	color: var(--primary-100);
	border-color: var(--primary-100);
}

@media screen and (min-width: 321px) and (max-width: 1023px) {
	.__coverPage-content {
		width: 100%;
	}
}

.logo {
	width: 80%;
}
