*,
*::before,
*::after {
  box-sizing: border-box; }

:root {
  --primary-100: #009b3a;
  --primary-200: #006600;
  --primary-300: #439534;
  --primary-400: #a7f991;
  --secondary-100: #ffcc00;
  --secondary-200: #916e00;
  --secondary-300: #db9423;
  --secondary-400: #ed7a00;
  --secondary-500: #e6c698;
  --secondary-600: #ba7c28;
  --accent-100: #990000;
  --accent-200: #ffa783;
  --text-100: #54595f;
  --text-200: #7a7a7a;
  --text-300: #ffffff;
  --text-400: #e0e0e0;
  --bg-000: #181c1e;
  --bg-100: #333333;
  --bg-200: #434343;
  --bg-300: #5c5c5c; }

body,
html {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.2; }

h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-weight: 400; }

a {
  text-decoration: none;
  color: white; }

img {
  max-width: 100%;
  display: block;
  height: auto; }

video {
  height: auto; }

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit; }

.debug {
  background-color: red; }
