*,
*::before,
*::after {
  box-sizing: border-box; }

:root {
  --color-primary: #181c1e;
  --color-secondary: #54595f;
  --color-text: #7a7a7a;
  --primary-100: #009b3a;
  --primary-200: #006600;
  --primary-300: #439534;
  --primary-400: #a7f991;
  --secondary-100: #ffcc00;
  --secondary-200: #916e00;
  --accent-100: #990000;
  --accent-200: #ffa783;
  --text-100: #ffffff;
  --text-200: #e0e0e0;
  --bg-100: #333333;
  --bg-200: #434343;
  --bg-300: #5c5c5c; }

body,
html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  background-color: var(--bg-200); }

h1,
h2,
h3,
p {
  margin: 0;
  font-weight: 400; }

a {
  text-decoration: none;
  color: white; }

img {
  max-width: 100%;
  display: block;
  height: auto; }
